$--border:#e3e3e4;
$--bacground_gray:#f5f6f6;
$--dark:#000;
$--white:#fff;
$--purple:rgb(237, 73, 86);
$--purple_hover:rgb(237, 73, 86);
$--ccc:#ccc;
$--gray:#7d7d7d;
$--type_color:#909399;
$--blue_copy_link:#6784ff;